@if ($theme == "light") {
    @include gtkdef("base-color", #fff);
} @else {
    @include gtkdef("base-color", #000);
}
@include gtkdef("accent-color", #0078D7);

$shadecolor: #aaa;
$altcolor: #aaa;

$error: #e81123;
$error-light: #f1707a;

@if ($theme == "light") {
    $shadecolor: #000;
    $altcolor: #fff;
    @include gtkdef("chrome-low", #F2F2F2);
    @include gtkdef("chrome-medium-low", #F2F2F2);
    @include gtkdef("chrome-medium", #E6E6E6);
    @include gtkdef("chrome-high", #CCCCCC);

    @include gtkdef("chrome-alt-low", #171717);

    @include gtkdef("chrome-disabled-high", #CCCCCC);
} @else {
    $shadecolor: #fff;
    $altcolor: #000;
}

@include gtkdef("base-10", gtkalpha($shadecolor, 0.1));
@include gtkdef("base-20", gtkalpha($shadecolor, 0.2));
@include gtkdef("base-40", gtkalpha($shadecolor, 0.4));
@include gtkdef("base-60", gtkalpha($shadecolor, 0.6));
@include gtkdef("base-80", gtkalpha($shadecolor, 0.8));
@include gtkdef("base-100",gtkalpha($shadecolor, 1));

@include gtkdef("alt-20", gtkalpha($altcolor, 0.2));
@include gtkdef("alt-40", gtkalpha($altcolor, 0.4));
@include gtkdef("alt-60", gtkalpha($altcolor, 0.6));
@include gtkdef("alt-80", gtkalpha($altcolor, 0.8));
@include gtkdef("alt-100",gtkalpha($altcolor, 1));

@include gtkdef("list-low", gtkalpha($shadecolor, 0.1));
@include gtkdef("list-medium", gtkalpha($shadecolor, 0.2));

@include gtkdef("list-accent-low", gtkalpha("@accent-color", 0.4));
@include gtkdef("list-accent-medium", gtkalpha("@accent-color", 0.6));
@include gtkdef("list-accent-high",gtkalpha("@accent-color", 0.7));