// escape string entirely
@function gtkcolor($str) {
    @return unquote("@#{$str}");
}

// alpha function
@function gtkalpha($c, $a) {
    @return unquote("alpha(#{$c},#{$a})");
}

// shade function
@function gtkshade($c, $a) {
    @return unquote("shade(#{$c},#{$a})");
}

// mix function
@function gtkmix($c1, $c2, $m) {
    @return unquote("mix(#{$c1},#{$c2},#{$m})");
}

// define color function (yeah i know it's a mixin but who cares it's functiony enough)
@mixin gtkdef($name, $color) {
    @define-color #{$name} #{"" + $color};
}