@mixin shadow-8 {
    box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.11), 0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
    margin: 8px;
}
@mixin shadow-24 {
    box-shadow: 0px 1.8px 5.4px rgba(0, 0, 0, 0.11), 0px 9.6px 21.6px rgba(0, 0, 0, 0.13);
    margin: 24px;
}
@mixin shadow-32 {
    box-shadow: 0px 2.4px 7.2px rgba(0, 0, 0, 0.18), 0px 12.8px 28.8px rgba(0, 0, 0, 0.22);
    margin: 32px;
}
@mixin shadow-64 {
    box-shadow: 0px 4.8px 14.4px rgba(0, 0, 0, 0.18), 0px 25.6px 57.6px rgba(0, 0, 0, 0.22);
    margin: 64px;
}

@mixin focus-decoration {
    outline: 2px solid gtkcolor("base-100");
    outline-offset: 1px;
}