button {
    border-radius: 0;
    background-color: gtkcolor("base-20");
    color: gtkcolor("base-100");
    padding: 4px 8px 4px 8px;
    border: 2px solid transparent;
    &:hover {
        border: 2px solid gtkcolor("base-40");
    }
    &:focus:not(:active) {
        @include focus-decoration();
    }
    &:active {
        background-color: gtkcolor("base-40");
    }
    &:disabled {
        background-color: gtkcolor("base-20");
        color: gtkcolor("base-40");
    }
}
button.link {
    color: gtkcolor("accent-color");
    text-decoration-line: underline;
    background-color: transparent;
    border-width: 0;
    outline-width: 0;
    &:hover {
        color: gtkcolor("base-60");
    }
    &:active {
        color: gtkcolor("base-40");
    }
    &:disabled {
        color: gtkcolor("base-40");
    }
}