combobox {
    > button, > box > button {
        padding: 4px 10px 4px 10px;
        border: 2px solid transparent;
        background-color: gtkcolor("alt-100");
        border: 2px solid gtkcolor("base-40");
        &:hover {
            background-color: gtkcolor("alt-60");
            border-color: gtkcolor("base-60");
        }
        &:focus:not(:active) {
            background-color: gtkcolor("list-accent-low");
            border-color: gtkcolor("base-40");
        }
        &:active {
            background-color: gtkcolor("base-20");
            border-color: gtkcolor("base-40");
        }
        &:disabled {
            color: gtkcolor("base-40");
            background-color: gtkcolor("base-20");
            border-color: transparent;
        }
    }
    &:hover entry {
        border-color: gtkcolor("base-60");
    }
    entry {
        padding: 4px 10px 4px 10px;
        border: 2px solid gtkcolor("base-40");
        border-right: 0;
        background-color: gtkcolor("alt-40");
        &:hover, &:hover+button {
            border-color: gtkcolor("base-60");
        }
        &:focus, &:focus+button {
            border-color: gtkcolor("accent-color");
        }
        &:active, &:active+button {
            background-color: gtkcolor("base-20");
            border-color: gtkcolor("base-40");
        }
        &:disabled, &:disabled+button {
            background-color: gtkcolor("base-20");
            border-color: transparent;
        }
        & + button {
            border: 2px solid gtkcolor("base-40");
            border-left: 0;
            &:hover {
                background-color: gtkcolor("list-low");
                border-color: gtkcolor("base-60");
            }
            &:active {
                border-color: gtkcolor("base-60");
                background-color: gtkcolor("list-medium");
            }
        }
    }
    window {
        decoration {
            border: 0;
            @include shadow-64;
        }
        menu {
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: gtkcolor("base-20");
            menuitem {
                padding: 10px 12px 10px 12px;
                &:hover {
                    background-color: gtkcolor("list-accent-low");
                }
            }
        }
    }
}