entry {
    padding: 4px 10px 4px 10px;
    border: 2px solid gtkcolor("base-40");
    background-color: gtkcolor("alt-40");
    &:hover {
        border-color: gtkcolor("base-60");
    }
    &:focus {
        border-color: gtkcolor("accent-color");
    }
    &:active {
        background-color: gtkcolor("base-20");
        border-color: gtkcolor("base-40");
    }
    &:disabled {
        background-color: gtkcolor("base-20");
        border-color: transparent;
    }
}