headerbar {
    background-color: gtkcolor("base-color");
    button {
        border: 0;
        outline: 0;
        padding: 6px 10px 6px 10px;
        &:hover {
            border: 0;
            outline: 0;
            border-color: gtkcolor("base-20");
            background-color: gtkcolor("base-20");
            border: 0;
            outline: 0;
        }
        &:active {
            border-color: gtkcolor("base-40");
            background-color: gtkcolor("base-40");
            border: 0;
            outline: 0;
        }
        &:focus {
            outline-width: 0;
            border: 0;
            outline: 0;
        }
        &:not(:hover):not(:active) {
            background-color: transparent;
            border: 0;
            outline: 0;
        }
        &.close {
            &:hover {
                background-color: $error;
                color: white;
            }
            &:active {
                background-color: $error-light;
                color: black;
            }
        }
    }
}