menu, popover {
    padding-top: 5px;
    padding-bottom: 5px;
    contents {
        border: 0;
        @include shadow-8;
        background-color: gtkalpha("@alt-20",100);
    }
    menuitem, modelbutton.flat {
        padding: 10px 12px 10px 12px;
    }
    modelbutton.flat {
        &:hover {
            background-color: gtkcolor("list-accent-low");
        }
    }
}
menubar, menu {
    menuitem, item {
        padding: 10px 12px 10px 12px;
        background-color: gtkalpha("@alt-10",100);
        &:hover {
            background-color: gtkcolor("list-low");
        }
        &:focus {
            @include focus-decoration;
        }
        &:active {
            background-color: gtkcolor("list-medium");
        }
        &:checked {
            background-color: gtkcolor("list-low");
        }
        &:disabled {
            color: gtkcolor("base-40");
        }
    }
}

accellabel {
    accelerator {
        margin-left: 5px;
    }
}
label+accelerator {
    margin-left: 5px;
}