scale {
    margin: 12px;
    trough {
        background-color: gtkcolor("base-40");
    }
    highlight {
        background-color: gtkcolor("accent-color");
        padding-top: 2px;
    }
    slider {
        min-width: 8px;
        min-height: 22px;
        margin-top: -11px;
        margin-bottom: -11px;
        background-color: gtkcolor("accent-color");
        border-radius: 50px;
    }
    &:disabled {
        highlight {
            background-color: transparent;
        }
        trough {
            background-color: gtkcolor("base-20");
        }
        slider {
            background-color: gtkcolor("chrome-disabled-high");
        }
    }
    &:not(:disabled) {
        &:hover {
            slider {
                background-color: gtkcolor("chrome-alt-low");
            }
        }
        &:active {
            slider {
                background-color: gtkcolor("chrome-high");
            }
        }
    }
}