switch {
    border: 2px solid transparent;
    color: gtkcolor("base-80");
    border-radius: 100px;
    min-width: 40px;
    slider {
        margin: 3px;
        margin-right: 7px;
        border-radius: 6px;
        padding: 0px;
    }
    &:checked {
        border-color: transparent;
        background-color: gtkcolor("accent-color");
        color: white;
        &:hover {
            background-color: gtkcolor("list-accent-high");
        }
        &:active {
            background-color: gtkcolor("base-60");
        }
        &:disabled, &:disabled slider {
            background-color: gtkcolor("base-20");
        }
        slider {
            margin-right: 3px;
            margin-left: 7px;
            background-color: white;
        }
    }
    &:not(:checked) {
        border-color: gtkcolor("base-80");
        color: white;
        &:hover {
            border-color: gtkcolor("base-100");
            slider {
                background-color: gtkcolor("base-100");
            }
        }
        &:active {
            border-color: transparent;
            background-color: gtkcolor("base-60");
            slider {
                color: white;
            }
        }
        &:disabled, &:disabled slider {
            border-color: gtkcolor("base-40");
            slider {
                background-color: gtkcolor("base-40");
            }
        }
        slider {
            background-color: gtkcolor("base-80");
        }
    }
    image { color: transparent; }
}