treeview.view {
    background-color: transparent;
    header > button {
        background-color: transparent;
        color: gtkcolor("base-60");
        border: 1px solid gtkcolor("base-40");
        border-top: 0;
        border-left: 0;
        outline-width: 0;
        &:last-child {
            border-right: 0;
        }
    }
    padding: 6px 12px 6px 12px;
    border-bottom: 1px solid gtkcolor("base-40");
    &:selected {
        background-color: gtkcolor("list-accent-low");
    }
}