// https://docs.microsoft.com/en-us/windows/uwp/design/style/typography
* {
    font-weight: normal;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
}
.large-title {
    font-weight: 200;
    font-size: 46px;
}
.title-1 {
    font-weight: 300;
    font-size: 24px;
}
.heading {
    font-weight: normal;
    font-size: 20px;
}
.caption-heading {
    font-weight: 500;
    font-size: 14px;
}
.caption {
    font-weight: normal;
    font-size: 12px;
}